@media screen and (max-width: 899px)
  #wrapper
    #header
      background-color: $dark-blue
    #content>.contextual
      height: 3.4em
    #main.nosidebar #content, div#content
      padding: 1em