.button-small, input[type="submit"]
  -webkit-appearance: none
  cursor: pointer
  border: none
  background-color: $blue
  font-size: 1em
  color: #fff
  padding: 0.4em 0.8em
  border-radius: 1em
  transition: all 0.1s
  &:hover
    background-color: rgba($blue,0.8)
    -webkit-transform: translateY(-2px)
    transform: translateY(-2px)


.actions
  .link-button
    border-radius: 3px
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1)
    display: inline-block
    font-size: 0.875em
    margin: 0 3px 0 0
    padding: 0.4em 1em
    text-shadow: 0 1px 1px rgba(0,0,0,0.1)
    text-transform: uppercase
    transition: all 0.15s
    &:hover
      -webkit-transform: translateY(-2px)
      transform: translateY(-2px)
    &[href*='status_id%5D=2']
      background: #4CA5D1
    &[href*='status_id%5D=3']
      background: #85BC2E
    &[href*='status_id%5D=4']
      background: $dark-blue
    &[href*='status_id%5D=5']
      background: #E96112
    &[href*='status_id%5D=6']
      background: #D0021B
    &[href*='status_id%5D=14']
      background: #EAA22B

.contextual
  margin: 0
  transform: translateY(-5px)
  font-size: 1em
  height: 2em
  display: flex
  align-items: center
  justify-content: flex-end
  a
    flex: 0 1 auto
    display: flex
    align-items: center
    align-self: stretch
    background-position: left 4px center
    font-weight: 300
    font-size: 1em
    margin: 0
    padding: 0 .75em
    padding-left: 2em
    border: 1px solid rgba(42, 48, 56, 0.1)
    border-bottom-color: rgba(42, 48, 56, 0.2)
    transition: all .1s ease-in-out
    &:not(.icon-add)
      color: #111
      background-color: #fafafa
    &:hover
      text-decoration: none
      box-shadow: 0 2px 7px rgba(0,0,0,0.15)
    & + a
      border-left: 0
    &:first-child
      border-radius: 3px 0 0 3px
    &:last-child
      border-radius: 0 3px 3px 0
    &:first-child:last-child
      border-radius: 3px
    &.icon-add
      padding-left: .25em !important
      font-weight: 600 !important
      border-color: $green !important
      background: $green !important
      color: #fff
      &:before
        content: "+"
        display: inline-block
        vertical-align: middle
        line-height: 0.8
        width: 1em
        height: 1em
        margin-right: 0.125em
        padding: 0
        font-size: 1.75em
        text-align: center
        color: #fff
        background: #86c558
        font-weight: 400
        border-radius: 50%



.button-small,
input[type="submit"],
a[onclick^="submitPreview"]
  float: right
  display: inline-block
  background-color: #fbfbfb
  color: #333
  font-weight: 600
  border: 1px solid rgba($dark-blue, 0.3)
  border-radius: 3px
  margin: 0.5em
  padding: 0.35em 0.75em
  line-height: 1.4
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 1)
  transition: all 0.1s ease-in-out
  &:hover
    background-color: #fff
    color: #000
    font-weight: 600
    border-color: #bbb
    transform: none
  &[name="commit"]
    text-shadow: 0 1px 1px rgba($dark-blue, 0.4)
    color: #fff
    background: $blue
    border-color: rgba($dark-blue, 0.4)
    &:hover
      background: $blue
      color: #fff
      border-color: rgba($dark-blue, 0.5)

a[onclick^="submitPreview"]
  box-shadow: none
  border-style: dashed


a
  &[href*="issue_categories/new"] img,
  &[href*="versions/new"] img
    display: none
  &[href*="issue_categories/new"]:before,
  &[href*="versions/new"]:before
    content: "+"
    display: inline-block
    vertical-align: middle
    width: 1em
    height: 1em
    line-height: 0.8em
    font-size: 1.5em
    text-align: center
    color: #fff
    background: #86c558
    font-weight: 400
    border-radius: 3%